.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open {
  color: green;
  text-transform: uppercase;
  font-weight: bold;
}

.closed {
  color: firebrick;
  text-transform: uppercase;
  font-weight: bold;
}