extends layout
block content
    h1.page-title.text-center Find Information
    .row
        .col-12.col-sm-6.col-md-4
            a.dashboard-card(href='/upcoming-talks')
                .dashboard-card-icon
                    i.fa.fa-bell.fa-3x
                h2.dashboard-card-title
                    | Upcoming Talks

        .col-12.col-sm-6.col-md-4
            a.dashboard-card(href='/accommodation')
                .dashboard-card-icon
                    i.fa.fa-home.fa-3x
                h2.dashboard-card-title
                    | Accommodation

        .col-12.col-sm-6.col-md-4
            a.dashboard-card(href='/schedule')
                .dashboard-card-icon
                    i.fa.fa-calendar.fa-3x
                h2.dashboard-card-title
                    | Schedule

        .col-12.col-sm-6.col-md-4
            a.dashboard-card(href='/restaurants')
                .dashboard-card-icon
                    i.fa.fa-utensils.fa-3x
                h2.dashboard-card-title
                    | Restaurants

        .col-12.col-sm-6.col-md-4
            a.dashboard-card(href='/lecture-halls')
                .dashboard-card-icon
                    i.fa.fa-film.fa-3x
                h2.dashboard-card-title
                    | Theatres

        .col-12.col-sm-6.col-md-4
            a.dashboard-card(href='/map')
                .dashboard-card-icon
                    i.fa.fa-map-marker.fa-3x
                h2.dashboard-card-title
                    | Maps
